<ion-header>

  <ion-navbar text-center>
    <ion-title>Main Political Parties</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid *ngFor="let country of countryData">
    <ion-row>
      <ion-col col-12 text-center>
        <h4>Swedish Party System</h4>
        <ion-item text-wrap>
          <p>Although there are 8 parties currently represented in the legislature, all but one belongs to a coalition bloc.</p>
        </ion-item>
        <ion-item text-wrap>
          <p>These coalition blocs are divided into the left-leaning "Red-Greens" and the conservative "Alliance" with the far-right Sweden Democrats not belonging to any bloc.</p>
          <br>
          <p>The "Red-Greens" are led by the Social Democrats with the Green Party as another primary member along with tacit support from the Left Party.</p>
          <br>
          <p>The "Alliance" is led by the Moderate Party with the Christian Democrats, Centre, and Liberal parties as other members.</p>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <ion-list>
          <button ion-item 
            *ngFor="let party of country.government.political_parties_and_leaders"
            (click)="gotoPartyDetails(party)">
            {{party.name}}
          </button>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
