<ion-header>

  <ion-navbar text-center>
    <ion-title>Quiz</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-slides #slides>
    <ion-slide>
      <button ion-button color="primary" (click)="startQuiz()">Go To Quiz</button>
    </ion-slide>

    <ion-slide *ngFor="let data of quizData">
      <h5>Question {{data.questionNumber}}</h5>
      <p>{{data.statement}}</p>

      <ion-list no-lines radio-group [(ngModel)]="selection">
        <ion-item *ngFor="let answerSelection of data.responses">
          <ion-radio value="{{answerSelection.value}}"></ion-radio>
          <ion-label>{{answerSelection.answer}}</ion-label>
        </ion-item>
      </ion-list>
      <button ion-button color="primary" (click)="nextSlide()">Next</button>
    </ion-slide>

    
    <ion-slide>
        <button ion-button color="primary" (click)="submit()">Submit</button>
    </ion-slide>
  </ion-slides>

</ion-content>
