<ion-header>

  <ion-navbar>
    <ion-title>ElectionSeats</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid *ngFor="let country of countryData">

    <!-- <ion-row>
      <ion-col col-12>
          <canvas baseChart 
            *ngIf="doughnutChartData.length > 0"

            width="25vh" height="25vh"
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [options]="doughnutChartOptions"
            [colors]="doughnutChartColors"
            [chartType]="doughnutChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"
          ></canvas>
      </ion-col>
    </ion-row> -->

  </ion-grid>

</ion-content>
